@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');
header {
  background: #373738;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  padding-bottom: 20px;

  h1{
    font: normal 4em 'Playfair Display SC', serif;
    text-align:center;
  }

  nav {
      max-width: 800px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
  }

  nav a {
      flex-grow: 1;
      text-align: center;
      padding: 1em;
      position: relative;
  }

  nav a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right:0;
      height: 2px;
      transform: scaleX(0);
      background: #9f3ec5;
      transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
  }

  nav a:hover::after{
      transform: scaleX(1)
  }
}
 
