.container {
  margin-left: 2%;
  margin-right: 2%;

  max-width: 1422px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  
  grid-column-gap: 25px;
  grid-row-gap: 25px;

  .grid-ads-background {
    background: #b8b9b9;
    .tile-title {
      background: transparent;
    }
  }

  .grid-big-news-top {
    grid-row: span 2;
    grid-column: span 2;
  }
 
  .grid-ads-row-2 {
    grid-row: span 2;
  }

  .grid-ads-row-3 {
    grid-row: span 3;
  }

  .grid-ads-row-4 {
    grid-row: span 3;
  }

  .grid-ads-column-2 {
    grid-column: span 2;
  }

  .grid-ads-column-3 {
    grid-column: span 3;
  }

  .grid-ads-column-4 {
    grid-column: span 4;
  }

  @media (max-width: 1262px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 360px) {
    grid-template-columns: repeat(1, 1fr);

    .grid-big-news-top {
      grid-row: auto;
      grid-column: auto;
    }

    .grid-ads-column-2 {
      grid-column: auto;
    }
  
    .grid-ads-column-3 {
      grid-column: auto;
    }
  
    .grid-ads-column-4 {
      grid-column: auto;
    }
  }
}