.tile-container {
  overflow: hidden;
  box-shadow: 1px 0px 7px 4px rgba(0,0,0,0.29);
  -webkit-box-shadow: 1px 0px 7px 4px rgba(0,0,0,0.29);
  -moz-box-shadow: 1px 0px 7px 4px rgba(0,0,0,0.29);
  border-radius: 5%;
  cursor: pointer;

  .tile {
    transition: 0.2s;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      transform: scale(1.2);
    }
  }

  .tile-title {
    font-size: 15px;
    transform: scale(1.1);
    margin-top: -71px;
    margin-left: 42px;
    background: #373738;
    padding: 3px;
  }
}